<div class="row black-on-white">

	<div class="row">
		
	<div class="col-xs-12">
		
		<h3>Videos <span class="pull-right"><a ng-click="addVideo()"><span class="glyphicon glyphicon-plus"></span></a></span></h3>
	
	</div>
		
	<div class="col-xs-12 col-sm-7" ng-repeat="video in videos | orderBy: '-created_date' | limitTo:1">

		<p><strong class="subhead" id="titlesource">{{ video.title }}</strong></p>
		<div class="center-block" align="center">						
			<video width="100%" height="auto" id="videosource" controls="" style="margin: auto; max-width: 800px; max-height: 664px;">
			<source ng-src="{{ video.video_link | trusted }}" id="mp4Source" type="video/mp4">
				Your browser does not support the video tag.
			</video>
			<p id="notesource">{{ video.note }}</p>
			<br>
		</div>

	</div>

	<div class="col-xs-12 col-sm-5" ng-show="viewVideo">

		<h3 class="video-archives"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> &nbsp; Add Video</h3>

		<div class="form-group">
			<label for="videoTitle">Title</label>
			<input type="text" id="videoTitle" class="form-control" ng-model="videoTitle" required placeholder="title">
		</div>
		<div class="form-group">
			<label for="videoNote">Note</label>
			<input type="text" id="videoNote" class="form-control" ng-model="videoNote" required placeholder="note">
		</div>

		<div class="form-group">
			<label for="videoFile">File input</label>
			<input type="file" id="file" class="form-control" file required>
		</div>

        <!-- Progress Bar -->
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
            {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
          </div>
        </div>            
        <a class="btn btn-primary btn-block btn-lg" ng-disabled="newvideo.title.$invalid || newvideo.note.$invalid || newvideo.file.$invalid" ng-click="upload(videoTitle, videoNote)">Upload</a>
    </div>

	
	<div class="col-xs-12 col-sm-5" ng-hide="viewVideo">
		<h3 class="video-archives"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp; Video Archives</h3>
		<ul class="video-list" ng-repeat="video in videos | orderBy: '-created_date'">
			<li>
				<div class="video-title" ng-click="ChangeVid('{{ video.video_link }}', '{{ video.note }}', '{{ video.title }}')">{{ video.title }}</div>	
				<p class="tabbed-over">{{ video.note }}</p>
			</li>
		</ul>
		<div class="clearfix"></div>

	</div>	
		
		
	</div>

</div>

