<script>
	$('.uibutton a').removeClass("selected")
	$('#video_nav').addClass( "selected" );
</script>

<div class="row black-on-white">

	<div class="row">
		

	<div class="col-xs-12 col-sm-7">

		<p><strong class="subhead" id="titlesource">{{ selected_video.title }}</strong></p>
		<div>						
			<video width="100%" height="auto" id="videosource" controls="" style="margin: auto; max-width: 500px; max-height: 350px;">
			<source src="{{ selected_video.video_link | trusted }}" controls id="mp4Source" type="video/mp4">
				Your browser does not support the video tag.
			</video>
			<p id="notesource">{{ selected_video.note }} </p>

			<span ng-if="globals.currentUser.usertype == 'admin'" class="pull-right"><a ng-click="addVideo(selected_video.id)"> Add Reply  <span class="glyphicon glyphicon-plus"></span></a></span>

			<h4 ng-if="selected_video.replies">Comments:</h4>

			<div ng-repeat="reply in selected_video.replies">

				<strong ng-click="fixVid(reply.video_link)" class="clickable">{{ reply.title }}</strong>
				<p>{{ reply.note }}</p>

			</div>

		</div>

	</div>

	<div class="col-xs-12 col-sm-5"  ng-show="viewVideo">


		<div class="row">

				<div class="col-xs-12">
					<h4 class="video-archives"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> &nbsp; Add Video <span ng-show="isReply">Reply</span></h4>
				</div>

				<div class="col-xs-12">
					<div class="form-group">
						<label for="videoTitle">Title</label>
						<input type="text" id="videoTitle" class="form-control" ng-model="videoTitle" required>
					</div>
				</div>

				<div class="col-xs-12">
					<div class="form-group">
						<label for="file">File input</label>
						<input type="file" id="file" file>
					</div>
				</div>

				<div class="col-xs-12">
					<div class="form-group">
						<label for="videoNote">Note</label>
						<textarea type="text" id="videoNote" class="form-control" ng-model="videoNote" required></textarea>
					</div>
				</div>				

				<div class="col-xs-12" align="right">

					<div class="progress">
			          <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
			            {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
			          </div>
			        </div>
			        <div class="pull-right">
				        <button ng-disabled="videoTitle.$invalid || videoNote.$invalid || file.$invalid" ng-click="upload(videoTitle, videoNote, isReply, connectID)">Upload</button>
				        <button ng-click="cancelReply()">Cancel</button>
			        </div>
			        
		        </div>
		    </div>
    </div>

	
	<div class="col-xs-12 col-sm-5" ng-show="!viewVideo">
		<strong class="subhead">Video Archives <span class="pull-right"><a ng-click="addVideo(0)"><span class="glyphicon glyphicon-plus"></span></a></span></strong>

			<ul class="list-group" >
			    <li ng-click="getVideo(video)" ng-repeat="video in videos | orderBy: '-created_date'" class="list-group-item clickable>">
			      <strong>{{ video.title }}</strong><span class="badge">{{ video.replies.length }}</span>
			      <small>{{ video.note }}</small>
			    </li>
			</ul>

	</div>	
		
		
	</div>

</div>

